/* 1 : Swara Header */
/* 2 : Collection Page */

/* Swara Header Start*/
.swara_header {
    li.nav-item {
        svg.icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
    }
    .swara_search_container {
        background: #fff;
        z-index: 999;
        position: absolute;
        display: none;
        width: 100%;
        &.visible {
            display:block;
        }
        .swara_search_popover {
            position: absolute;
            width: 80%;
            transform: translate(-51%, -51%);
            top: 50%;
            left: 50%;
            form.o_searchbar_form {
                width:90%;
                display:inline-block;
            }
        }
        .swara_searchbar_close  {
            display:inline-block;
        }
    }
}
/* Swara Header End*/


/* Collection Page Start*/
.collection_container {
    .Collection_banner {
        background-image: url(/web/image/swara.collections/1/image/);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        margin-bottom:35px;
        @media (max-width: 749px) {
            height: 180px !important;
            margin-bottom:20px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #685858;
            opacity: .4;
        }

        .collection_title {
            position: absolute;
            color: #fff;
            width: 100%;
            text-align: center;
            left: 0;
            right: 0;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 2.13333em;
            font-weight: bold;
            span {
                animation-duration: 2s !important;
                animation-name: o_anim_fade_in;
                animation-play-state: running;
                visibility: visible;
            }
        }

    }
}
/* Collection Page End*/

label.css_attribute_color.css_not_available {
    opacity: 0.6;

    &:after {
        content: none;
    }
}