.list-style{
	list-style-type: square;
	list-style-position: inside;
}
.minors {
    font-size: 1.33333em;
    text-transform: uppercase;
    letter-spacing: .1em;
}

td{
	border : 1px solid #dddddd;
	padding: 10px;
}
table tr{	
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}